.layout {
  background-color: #0004ff;
  color: #fff;
  padding: 10px;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  color: #5a4141;
  margin-bottom: 20px;
}

.navigation-links {
  display: flex;
  gap: 20px;
}

.layout a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
  border-bottom: 2px solid transparent;
  margin: 10px 0;
}

.layout a.active {
  font-weight: bold;
  color: #846a62;
}
